.pytest_cache
build
dist
**/.dockerignore
**/.venv
**/.git
**/.gitignore
**/.settings
**/.toolstarget
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/*.egg-info
**/*.egg
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so
**/*.dll
**/*.dylib
**/*.exe
**/*.o
**/*.a
**/*.lib
__pycache__
requirements.in
/test
.coverage
/htmlcov
/.tox
